body{
  width: 960px;
  height: 1000px;
  margin: auto;
  background-color: HEX CBB7FF;
}
#grad {
  background: linear-gradient(HEX CBB7FF, HEX BFFFFF, HEX CEFFD5, HEX FF988E, ED95C0);
}
.navbar {
  position: fixed;
  font-family: 'Delius Unicase', cursive;
  font-size: .8em;
  top: 0px;
}

#nav-logo {
 width: 60px;
 margin-left: 75px;
 float: left;
}

#logo {
  height: 60px;
  width: 60px;
}


#nav-links {
  float: left;
  margin-top: 15px;
  position: relative;
  left: 475px;
}

#nav-links a {
  padding: 10px;
  text-decoration: none;

}

.title {
  font-family: fantasy;
  text-align: center;
}



#large {
  font-size: 90px;
  margin-top: 15%;
}

#medium {
  font-size: 60px;
  margin-top: inherit;
}

#button {
  text-align: center;
  margin-top: 30px;
}

#footer {
  margin-top: 700px;
  font-family: times;
  border: 2px solid black;
}


#map {
  margin: auto;
  margin-top: 100px;
  width: 940px;
  height: 600px;
}
div.aboutBox{

}
img.photoTeam{
  height: 200px;
  width: 200px;
}

/*Purple : HEX CBB7FF
Blue: HEX BFFFFF
Teal: HEX CEFFD5
Orange: HEX FF988E
Pink: ED95C0*/
e
