<<<<<<< HEAD
div.navBar{
  background-color:blue;
  text-align: center;
  font-family:fantasy;
  color: black;
  position: fixed;
  margin:auto;
  width: 50%;
float:left;

}
a{
  font-size: 25px;
  color: black;
  margin: 20px;
}
a.home{
  display:
}
img.logoU{
  height:100px;
  width: 100px;
  margin: auto;
  clear:right;
  float:none;
}
div.navBar2{
  background-color:blue;
  text-align: center;
  font-family:fantasy;
  color: black;
  position: fixed;
  margin:auto;
  width: 50%;
  float:right;

=======
body {
  width: 960px;
  margin: auto;
>>>>>>> 12199375cca4b76bf3a03ece2b3e3c56730005ac
}
