
/*body {
  background-image: url("images/UNICORN-LOGO.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-position: center,bottom;
  background-size: contain;
  background-attachment: fixed;
  background-color: rgba(0.5);
}*/


body {
  width: 960px;
  height: auto;
  margin: auto;
  /*border: 2px solid black;*/
}

/*Header Stuff*/

.navbar {
  width: 960px;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
  font-family: 'Delius Unicase', cursive;
  font-size: .8em;
}

#nav-logo {
 width: 60px;
 margin-left: 75px;
 float: left;
}

#logo {
  height: 60px;
  width: 60px;
}

#logo:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}

.nav-buttons:hover {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}

.nav-links {
  margin-top: 15px;
  position: relative;
  left: 475px;
  top: 10px;
  float: left;
}

.nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #FF988E;
  font-weight: bold;
}


#active-link {
  color: #A874D4;
}

/*Footer Stuff*/
.footer {
  margin-top: 200px;
  font-family: 'Delius Unicase', cursive;
  text-align: center;
  letter-spacing: .5px;
  color: grey;
}

#unicorn {
  margin-bottom: 10px;
  color: #A874D4;
  font-weight: bold;
}

.footer hr {
  width: 720px;
  margin-bottom: 15px;
}

.footer h3 {
  font-size: 9px;
}

/*Home Page */
#large {
  margin-top: 200px;
  font-size: 90px;
}

#medium {
  margin-top: inherit;
  font-size: 60px;
}

#small {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 24px;
}

#button {
  margin-top: 30px;
  text-align: center;
}

#footer {
  margin-top: 700px;
  font-family: times;
  border: 2px solid black;
}

.button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c3e8c), to(#65a9d7));
  background: -webkit-linear-gradient(top, #9c3e8c, #65a9d7);
  background: -moz-linear-gradient(top, #9c3e8c, #65a9d7);
  background: -ms-linear-gradient(top, #9c3e8c, #65a9d7);
  background: -o-linear-gradient(top, #9c3e8c, #65a9d7);
  padding: 15px 29px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 37px;
  font-family: fantasy, serif;
  text-decoration: none;
  vertical-align: middle;margin-top: 25px;
  }

 .button:hover {
    border-top-color: #CBB7FF;
    background: #28597a;
    color: #ccc;
  }

 .button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.title {
  text-align: center;
  font-family: fantasy;
}

.logo2 {
  /*width: 500px;
  height: auto;*/
  opacity: 0.5;
  margin-bottom: 50px;
  margin-bottom: 5px;
  margin-left: 365px;
  border: 3px solid #FF988E ;
  box-shadow: 10px 10px 5px -2px rgba(181,174,181,0.65);
}

/*Toilets page with all of our locations*/
#map {
  width: 940px;
  height: 600px;
<<<<<<< HEAD
=======
  margin: auto;
  margin-top: 100px;
}

#surveyArea {
  margin-top: 200px;
  text-align: center;
}

#prompt {
  font-size: 42px;
  color: #A874D4;
  font-family: fantasy;
  font-weight: bold;
  letter-spacing: 2px;
}

.option {
  width: 300px;
  height: 300px;
  margin: 50px;
}

h5 {
  color: #A874D4;
  font-family: 'Delius Unicase', cursive;
  font-weight: bold;
  margin-bottom: 5px;
}

h6 {
  margin:bottom: 2px;
>>>>>>> 8083f7fdbdbd0a0d56afc6878632ae7dd49b447c
  /*display: none;*/
}

/* About us page divs */
.about-us{
  width: 960px;
  height: 300px;
  margin-top: 100px;
  display: inline-block;
}

#D {
  background-color: #A874D4;
}

#A {
  background-color: #A4FFD5;
}

#R{
  background-color: #FF788E;
}

#N{
  background-color: #ED7DC0;
}

.our-pictures{
  width: 220px;
  height: 300px;
  overflow: hidden;
}
/*Named each div that contains pictures differently to make it easier to style since we wanted out picture layout to alternate sides as we went down the page*/
.L-card-container {
  width: 220px;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  perspective: 600;
  position: relative;
  display: inline;
  float: left;

}

.R-card-container {
  height: 100%;
  perspective: 600;
  position: relative;
  width: 220px;
  display: inline;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}
/*this div holds the actual pictures that will flip and this css tells this div what to do when and what to do with each side of itself*/
.card {
  height: 100%;
  width: 100%;
  float: left;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  transform: rotateY(180deg);
}

/*this is the div that holds the actual text about us*/

.what-about-us {
  width: 600px;
  position: relative;
  text-align: center;
  display: inline-block;
  border: 50px;
  padding: 60px;
<<<<<<< HEAD
}


.title {
  font-family: fantasy;
  text-align: center;
}
#large {
  font-size: 90px;
  margin-top: 15%;
}
#medium {
  font-size: 60px;
  margin-top: inherit;
}
#button {
  text-align: center;
  margin-top: 30px;
}
#footer {
  margin-top: 700px;
  font-family: times;
  border: 2px solid black;
}
.button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c3e8c), to(#65a9d7));
    background: -webkit-linear-gradient(top, #9c3e8c, #65a9d7);
    background: -moz-linear-gradient(top, #9c3e8c, #65a9d7);
    background: -ms-linear-gradient(top, #9c3e8c, #65a9d7);
    background: -o-linear-gradient(top, #9c3e8c, #65a9d7);
    padding: 15px 29px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 37px;
    font-family: fantasy, serif;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 25px;
  }
 .button:hover {
    border-top-color: #CBB7FF;
    background: #28597a;
    color: #ccc;
  }
 .button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

/* toilets.html styling*/

#surveyArea {
  text-align: center;
  margin-top: 200px;
}

#prompt {
  font-size: 42px;
  color: #A874D4;
  font-family: fantasy;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 60px;
  margin: 25px;
}

.option {
  margin: 50px;
  width: 300px;
  height: 300px;
  /*box-shadow: 10px 10px 5px -2px rgba(181,174,181,0.65);*/
}

#left-option{
  border: 3px solid #FF988E;;
  box-shadow: 10px 10px 5px -2px rgba(181,174,181,0.65);
}

#right-option {
  border: 3px solid #FF988E;
  box-shadow: -10px 10px 5px -2px rgba(181,174,181,0.65);
}

h5 {
  color: #A874D4;
  font-family: 'Delius Unicase', cursive;
  font-weight: bold;
  margin-bottom: 5px;
}

h6 {
  margin:bottom: 2px;
}
=======
  margin-top: 25px;
  font-family: cursive;
>>>>>>> 8083f7fdbdbd0a0d56afc6878632ae7dd49b447c

/* Colors
Purple: #A874D4
Teal: #86FFFF
Orange: #FF988E
Pink: #ED7DC0
Mint: A4FFD5;
*/
